
.sportStyleCommon{
    width:100%;
    height: 210vh;
    display: flex;
    flex-wrap: wrap;
}

.sportStyleCommon div{
    margin: 10px;
}
.sportStyleCommon h4{
    width: 30vw;
}
.sportStyleCommon img{
    width: 30vw;
    height: 20vh;
}
.sportStyleCommon h2{
    width: 30vw;
}
.sportStyleCommon p{
    width: 30vw;
}
