




.navbarList{
width: 100%;
background-color: blue;
color: white;
display: grid;
grid-template-columns: 1fr;
grid-template-rows: 2fr 1fr;
}

.heading{
font-size: 1.5rem;
text-align: center;
/* align-items: center; */
width: 100%;

}
.rotate{
    transform: rotate(-90deg);
    /* margin-top: .4%; */
    /* margin-left: 40%; */
    /* position: absolute; */
    /* width: 5vw; */
}
/* .rotateNot{
    margin-left: 20%;
    position: absolute;
} */

/* @media (max-width: 600px){
    .heading{
        text-align: left;
    }
} */
.list ul{
    display: flex;
    justify-content: center;
    justify-content: space-around;
}

.list ul li{
    list-style: none;
}

.animatLine{
    position: relative;
    color: black;
    text-decoration: none;
}
.animatLine::before{
    position: absolute;
    content: "";
    width: 100%;
    height: 3px;
    bottom: -3px;
    left: 0;
    visibility: hidden;
    background-color: black;
    transform: scale(0);
    transition:all .1s linear .5s;
}
.animatLine:hover:before{
    visibility: visible;
    transform: scale(1);
}

.bimenu{
    display: none;
}
@media (max-width: 600px){
    .bimenu{
        display: block;
    }
 
        .navbarList{
            width: 100%;
            background-color: blue;
            color: white;
            display: grid;
            grid-template-columns: 1fr;
            grid-template-rows: 1fr;
            }
    
            .heading{
                font-size: 1.1rem;
                text-align: left;
                }

                .rotate{
                    margin-left: 3%;
                    margin-top: 1%;
                    position: absolute;
                }

                .rotateNot{
                    margin-left: 7%;
                    position: absolute;
                }
                .bimenu{
                    position: absolute;
                    right: 0;
                }
        .list ul li{
            display: none;
            text-align: center;
            list-style: none;

        }
        .listshowBimenuList ul li{
            display: block;
            text-align: center;
            
        }
        /* .list ul {
            display: block;} */
    }


/* @keyframes line {
    0%{
        left: 0;
    }
   100%{
        left: 100%;
    }
    0%{
        left: 0;
    }
} */
.HomePicDiv{
    width: 100%;
    height: 10vh;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    column-gap: 300px;
    row-gap: 10px;
}

.HomePicDiv .one {
    grid-column: 1/3;
    grid-row: 1/3;
}
.HomePicDiv .one img {
    width: 60%;
    height: 52vh;
}
.HomePicDiv .two {
    grid-column: 2/3;
    grid-row: 1/2;
}
.HomePicDiv .two img {
    width: 100%;
    height: 25vh;
}
.HomePicDiv .three {
    grid-column: 2/3;
    grid-row: 2/3;
    
}
.HomePicDiv .three img {
    width: 100%;
    height: 25vh;
}
.HomePicDiv .one .text{
    position: absolute;
    left: 30%;
    left: 15%;
    margin-top: 10%;
    z-index: 99;
    color: yellow;
}

.HomePicDiv .two .text1{
    position: absolute;
    right: 20%;
    z-index: 99;
    color: yellow;
}
.HomePicDiv .three .text2{
    position: absolute;
    right: 20%;
    z-index: 99;
    color: yellow;
}

@media (max-width: 600px){
    .HomePicDiv {
        column-gap: 130px;
    }
}
.homepageContainer{
    display: block;
    height: 65vh;
    margin-top: 10px;
}
.homePge2{
    display: flex;
}
.homePge2 h2{
    height: 10vh;
}
.homePge2 div{
    margin: 2%;
    width: 20vw
}

.homePge2 div img{
    width: 21vw;
    height: 20vh
}

.homePage3{
    display: flex;
    width: 100%;
    height: 120vh;
}
.homePage3 .LeftArticle{
    width: 60%;
    /* border: 2px solid red; */
    height: 143vh;
    margin: 2%;
}
.homePage3 .rightArticle{
    width: 45%;
    /* border: 2px solid red; */
    height: 143vh;
    margin: 2%;
}
.adverDiv{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30vw;
    height: 50vh;
    border: 2px solid black;
    margin: 15%;
}

.sportStyle{
    width:100%;
    height: 400vh;
    display: flex;
    flex-wrap: wrap;
}

.sportStyle div{
    margin: 10px;
}
.sportStyle h4{
    width: 10vw;
}
.sportStyle img{
    width: 30vw;
    height: 20vh;
}
.sportStyle h2{
    width: 30vw;
}
.sportStyle p{
    width: 30vw;
}
